---
layout: default
---

<div id="main">
	<article class="post">
		<header>
			<div class="title">
				<h2><a href="#">About Me</a></h2>
			</div>
			<div class="meta">
				<time class="published" datetime="2020-05-08">May 08 2020</time>
				<a href="{{post.url}}" class="author"><span class="name">Maxx Holmes </span><img src="/images/avatar.jpg" alt="" /></a>
			</div>
		</header>
		<span class="image featured"><img src="/images/powerstance.jpg" alt="" /></span>
		<p> Sup, G </p>
		<p> </p>
		<footer>
			<ul class="stats">
				{% for category in post.categories %}
				<li><a href="#">{{category}}</a></li>
				{% endfor %}
				<li><a href="#" class="icon solid fa-heart">0</a></li>
				<li><a href="#" class="icon solid fa-comment">0</a></li>
			</ul>
		</footer>
	</article>
</div>

<!-- Sidebar -->
<section id="sidebar">
	<!-- Intro -->
	<section id="intro">
		<header>
			<section> <h2>Maxx Holmes</h2> </section>
			<p>Programming | Science | PhD</p>
		</header>
	</section>
	<!-- Mini Posts -->
	<section>
		<div class="mini-posts">
			{% for post in paginator.posts limit:3 offset:0 %}
			{% include mini_post_card.html %}
			{% endfor %}
		</div>
	</section>

	<!-- Posts List -->
	<section>
		<ul class="posts">
			<li>
				{% for post in paginator.posts limit:5 offset:0 %}
				{% include tiny_post_card.html %}
				{% endfor %}
			</li>
		</ul>
	</section>

	<!-- About -->
	<section class="blurb">
		<h2>About</h2>
		<a href="#" class="logo"><img src="images/logo.jpg" alt="" /></a>
		<p>I'm a PhD student in the Computational Physiology Lab at the University of Leeds with a background in Physics, Maths & Data Science.</p>
		<p>I develop models and tools to study the underlying mechanisms of cardiac arrhythmias.</p>
		<ul class="actions">
			<li><a href="#" class="button">Learn More</a></li>
		</ul>
	</section>

	<!-- Footer -->
	<section id="footer">
		<ul class="icons">
			<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
			<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
			<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
		</ul>
		<p class="copyright">&copy; Maxx Holmes, 2020.</p>
	</section>

</section>