<section id="menu">

	<!-- Search -->
	<section>
		<form class="search" method="get" action="#">
			<input type="text" name="query" placeholder="Search" />
		</form>
	</section>

	<!-- Links -->
	<section>
		<ul class="links">
			<li>
				<a href="#">
					<h3>About Me</h3>
					<p>Who I am & what I do</p>
				</a>
			</li>
			<li>
				<a href="#">
					<h3>Blog</h3>
					<p>Find all of my blog posts here</p>
				</a>
			</li>
			<li>
				<a href="#">
					<h3>Projects</h3>
					<p>Non-academic endevours & unpublished projects</p>
				</a>
			</li>
			<li>
				<a href="#">
					<h3>Publications</h3>
					<p>Find links to all my publications here</p>
				</a>
			</li>
			<li>	
				<a href="#">
					<h3>Contact Me</h3>
					<p>Find me on social media or by email</p>
				</a>
			</li>
		</ul>
	</section>
</section>