---
layout: default_post
pagination:
    enabled: true
---
<div id="main">
	<article class="post">
		<header>
			<div class="title">
				<h2><a href="#">{{page.title}}</a></h2>
				<p>{{page.subtitle}}</p>
			</div>
			<div class="meta">
				<time class="published" datetime="page.date">{{ page.date | date_to_long_string }}</time>
				<a href="#" class="author"><span class="name">Maxx Holmes</span><img src="/images/avatar.jpg" alt="" /></a>
			</div>
		</header>
		<span class="image featured"><img src={{page.titleimg}} alt="" /></span>
		{{content}}
		<footer>
			<ul class="stats">
				<li><a href="#">General</a></li>
				<li><a href="#" class="icon solid fa-heart">0</a></li>
				<li><a href="#" class="icon solid fa-comment">0</a></li>
			</ul>
		</footer>
	</article>
</div>